// https://adventofcode.com/{{ .Year }}/day/{{ .Day }} 

package y{{ .Year }}

func Day{{printf "%02d" .Day}}Part1(input string) int {
    return 0
}

func Day{{printf "%02d" .Day}}Part2(input string) int {
    return 0
}